<!-- Tab Navigation Component -->
<div class="tabs">
  <a href="/?tab=webp" class="tab {% if active_tab == 'webp' or not active_tab %}active{% endif %}">
    Format Converter
  </a>
  <a href="/?tab=responsive" class="tab {% if active_tab == 'responsive' %}active{% endif %}">
    Responsive Images
  </a>
  <a href="/?tab=thumbnail" class="tab {% if active_tab == 'thumbnail' %}active{% endif %}">
    Thumbnail Generator
  </a>
  <a href="/?tab=favicon" class="tab {% if active_tab == 'favicon' %}active{% endif %}">
    Favicon Generator
  </a>
  <a href="/?tab=optimize" class="tab {% if active_tab == 'optimize' %}active{% endif %}">
    Image Optimizer
  </a>
  <a href="/?tab=analyze" class="tab {% if active_tab == 'analyze' %}active{% endif %}">
    Image Analysis
  </a>
</div>
